language: php
services:
  - mysql

notifications:
  email:
    on_success: never

php:
  - 7.2

env:
  - DATABASE_URL=mysql://travis@127.0.0.1:3306/rpg_helper_test

before_script:
  - make dev-from-scratch

script: make CI

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar;
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover;